<div class="superadmin-pages addadminwrap col-sm-5 col-xs-8 col-xs-push-4 col-sm-push-3">
	<form name="addadminForm" ng-submit="addadmin(addadminForm)">

    <!-- <h4 class="col-xs-12 login-title">User Signup</h4> -->

      <input type="text" class="loginpageinput" name="name" ng-model="form.name" placeholder="Name">
      <input type="email" class="loginpageinput" name="email" ng-model="form.email" placeholder="Email">
      <input type="text" class="loginpageinput" name="phone" ng-model="form.phone" placeholder="Phone">
      <input type="password" class="loginpageinput" name="password" ng-model="form.password" placeholder="Password">
      <input type="password" class="loginpageinput" name="repassword" ng-model="form.repassword" placeholder="Type Again">

    <button class="login-btn" type="submit">SAVE</button>

  </form>
</div>