
<div class=" clearfix add-package">
  <div class="col-md-6 nopadding-left">
    <form name="addnewpackage" class="scrollbar" ng-submit="sendnewpackage(addnewpackage)">

      <div class="section">
        <h4 class="h4"><span>A</span> General Setting</h4>
        <div class="gr-border">

          <div class="form-group">
            <md-button class="md-raised" colorpicker type="button" colorpicker-position="bottom" colorpicker-position="top" name="bgcolor" ng-model="form.bgcolor" ng-style="{'background-color': mybackground}">
              Change Theme Color
            </md-button>

            <md-button class="md-raised" colorpicker type="button" colorpicker-position="bottom" colorpicker-position="top" name="fontcolor" ng-model="form.fontcolor" ng-style="{'background-color': fontColor}">
              Change Font Color
            </md-button>
          </div>

          <div>
            <md-input-container>
              <label>Price</label>
              <input type="text" name="price" ng-model="form.price" ng-keyup="livePrice(form.price)" >
            </md-input-container>
          </div>

        </div>
      </div>

      <div class="section">
        <h4 class="h4"><span>B</span> Package info</h4>
        <div class="gr-border">

          <md-input-container>
            <label>Title</label>
            <input type="text" class="input-txt" name="name" ng-model="form.name" ng-keyup="liveTitle(form.name)">
          </md-input-container>


          <div class="form-group">
              <textarea class="form-control input-txt" style="height: 152px" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." name="desc" ng-model="form.desc" ng-keyup="liveDescription(form.desc)">
              </textarea>
          </div>

          <div>
            <md-button class="md-raised" ngf-select ng-model="topCover" name="topCover" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">Select Top Banner Photo Upload </md-button>
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="h4"><span>C</span> Welcome & Intro</h4>

        <div class="gr-border">
          <div class="form-group">
              <textarea class="form-control input-txt" rows="8" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." name="welcometext" ng-model="form.welcometext" ng-keyup="liveWelcome(form.welcometext)">
              </textarea>
          </div>

          <small>Do you have More Info link?</small>

          <div>
            <md-input-container>
              <label>More info link</label>
              <input type="text" name="welcomemore" ng-model="form.welcomemore" ng-keyup="liveWelcomeReadMore(form.welcomemore)">
            </md-input-container>
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="h4"><span>D</span> Meet the Coach</h4>
        <div class="gr-border">

          <div class="form-group">
            <h3 class="h3">Avatar :</h3>
            <md-button class="md-raised" ngf-select ng-model="avatar" name="avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">Select An Avatar</md-button>
          </div>

          <div>
            <md-input-container>
              <label>Coach Name</label>
              <input type="text" name="coachname" ng-model="form.coachname" ng-keyup="liveCoachName(form.coachname)">
            </md-input-container>
          </div>

          <div class="form-group">
            <textarea class="form-control input-txt" rows="8" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." name="coachbio" ng-model="form.coachbio" ng-keyup="liveCoachBio(form.coachbio)">
            </textarea>
          </div>

        </div>
      </div>

      <div class="section">
          <h4 class="h4"><span>E</span> Call to Actions</h4>
          <div class="gr-border">

            <div>
              <md-input-container>
                <label>First button link</label>
                <input type="text" name="button1text" ng-model="form.button1text" ng-keyup="liveButton1Text(form.button1text)">
              </md-input-container>
            </div>

            <div>
              <md-input-container>
                <label>Second button link</label>
                <input type="text" name="button2text" ng-model="form.button2text" ng-keyup="liveButton2Text(form.button2text)">
              </md-input-container>
            </div>

          </div>
        </div>

      <div class="section">
          <h4 class="h4"><span>E</span> Banners</h4>
          <div class="gr-border">
            <md-button class="md-raised" ngf-select ng-model="secondBanner" name="secondBanner" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">Select Second Banner Photo Upload</md-button>
          </div>
        </div>

      <div class="section">
        <h4 class="h4"><span>F</span> Add FAQ</h4>
        <div class="gr-border">

          <div class="h4">
            <button class="btn plus-btn" type="button" ng-click="addFaq()"><i class="fa fa-plus"></i> </button>
            FAQ
          </div>

          <ul>
            <li ng-repeat="item in faqdata">
              <div>
                <md-input-container>
                  <label>Question</label>
                  <input type="text" name="faqTitle" ng-model="faqTitle[$index]">
                </md-input-container>
              </div>
              <textarea class="form-control input-txt" rows="8" placeholder="Answer" name="faqText" ng-model="faqText[$index]">
              </textarea>
            </li>
          </ul>

          <div class="mg-top">
            <md-input-container>
              <label>More info link</label>
              <input type="text" name="more1" ng-model="form.more1" ng-keyup="liveReadMore1(form.more1)">
            </md-input-container>
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="h4"><span>H</span> Add More Info</h4>
        <div class="gr-border">
          <div class="h4">
            <button class="btn plus-btn" type="button" ng-click="addMoreInfo()"><i class="fa fa-plus"></i></button>
            More Information
          </div>

          <ul class="more-dt">
            <li ng-repeat="it in moreinfo track by $index">
              <md-button class="md-raised" ngf-select ng-model="moreInfoImage[$index]" name="moreInfoImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">Select Photo</md-button>

              <div>
                <md-input-container>
                  <label>Title</label>
                  <input type="text" name="moreInfoTitle" ng-model="moreInfoTitle[$index]">
                </md-input-container>
              </div>

              <div>
                <md-input-container>
                  <label>Description</label>
                  <input type="text" name="moreInfoDesc" ng-model="moreInfoDesc[$index]">
                </md-input-container>
              </div>

              <div>
                <md-input-container>
                  <label>Link</label>
                  <input type="text" name="moreInfoLink" ng-model="moreInfoLink[$index]">
                </md-input-container>
              </div>

            </li>
          </ul>

          <div class="mg-top">
            <md-input-container>
              <label>More info link</label>
              <input type="text" name="more2" ng-model="form.more2" ng-keyup="liveReadMore2(form.more2)">
            </md-input-container>
          </div>
        </div>

      </div>


      <div class="mg-top mg-bottom">
        <md-button class="md-raised" type="submit">Save</md-button>
      </div>

    </form>
  </div>


  <!-- ///////////////////// PREVIEW SECTION ////////////////////////////// -->

  <div class="col-sm-6 nopadding">

    <div class="pack wh-bg">

      <div class="scrollbar">
        <div class="banner clearfix" ng-style="{'background-color': form.bgcolor || '#000'}">
          <div class="banner-inner">
            <img class="img-responsive" ngf-src="topCover || defaultTopCover" alt="Banner">

            <div class="col-xs-6 left-box" ng-style="{'color': form.fontcolor || '#fff'}">
              <h3>{{prevTitle}}</h3>
              <p style="white-space: pre-line">{{prevDescription}}</p>
            </div>

          </div>


        </div>

        <div class="clearfix row">

          <div class="col-xs-7 col-sm-8 text-center">
            <h2 class="h4 text-center green-txt">Welcome</h2>
            <p class="text-center welcome-txt" style="white-space: pre-line">
              {{prevWelcome}}
            </p>
            <a href="javascript:;" target="_blank" ng-show="prevWelcomeReadMore" class="h3">Read More</a>


            <div class="link-bar">
              <div class="h3">
                <a href="javascript:;">{{prevButton1Text}}</a>
                <a class="load-more-ic" href="javascript:;"><i class="fa fa-angle-right green-txt"></i></a>
              </div>
            </div>

            <div class="intro-banner">
              <img ngf-src="secondBanner || secondAvatar" alt="Banner">
            </div>

            <div class="frq-section">
              <h3 class="h3 text-center bold green-txt" ng-show="prevFaqTitle">Frequently Asked Questions</h3>

              <div class="grid-gallery">
                <section class="grid-wrap">
                  <ul class="grid clearfix flowGrid" ng-flow-grid="homePageGrid" min-item-width="70">
                    <li class="flowGridItem" ng-repeat="item in faqdata">
                      <h3 class="h5">{{faqTitle[$index] || "Question"}}</h3>
                      <p>{{faqText[$index] || "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae officiis at repellat, temporibus incidunt doloribus laboriosam deleniti et voluptatibus dolorem quasi dolor minima natus rerum cumque voluptates, praesentium debitis."}}</p>
                    </li>
                  </ul>
                </section>
              </div><!-- / grid-gallery -->
              <a href="javascript:;" target="_blank" ng-show="prevReadMore1" class="h3">Read More</a>
            </div>

            <div class="link-bar">
              <div class="h3">
                <a href="javascript:;">{{prevButton2Text}}</a>
                <a class="load-more-ic" href="javascript:;"><i class="fa fa-angle-right green-txt"></i></a>
              </div>
            </div>



          </div>

          <div class="col-xs-5 col-sm-4 right-side">
            <!--<div class="info">-->
            <!--<img src="{{pdata.side_cover}}" alt="Photo">-->
            <!--</div>-->
            <div class="about-couch">
              <img ngf-src="avatar || defaultAvatar" alt="Coach Pic">
              <h3 class="h5 text-center">Meet your coach</h3>
              <h4 class="h5 text-center">{{PrevCoachName}}</h4>
              <p style="white-space: pre-line; font-size: 12px;">
                {{prevCoachBio}}
              </p>

            </div>

          </div>
        </div>

        <div class="clearfix row pack-btm">
          <div class="col-xs-7 col-sm-8 text-center btm">
            <div class="more-dt">
              <h4 class="h4 bold text-center green-txt" ng-show="prevMoreInfoTitle">More Information</h4>
              <br>
              <ul class="row clearfix">

                <li class="col-xs-4" ng-repeat="it in moreinfo">
                  <a class="more-img" href="javascript:;" target="_blank">
                    <img class="img-responsive" ngf-src="moreInfoImage[$index] || moreInfoCover" alt="">
                  </a>
                  <h2 class="h4 text-center">
                    <a href="{{it.link}}" target="_blank">{{moreInfoTitle[$index] || "title"}}</a>
                  </h2>
                  <p class="limit-txt-2">{{moreInfoDesc[$index] || "short text"}}</p>
                </li>

                <a href="javascript:;" target="_blank" ng-show="prevReadMore2" class="h3">Read More</a>
              </ul>
            </div>
          </div>

          <div class="col-xs-5 col-sm-4 right-side btm">
            <div class="link-bar">
              <div class="h3">
                <div class="price">${{prevPrice}}</div>
                <a href="#/paymentsuser/{{pdata.pid}}">Buy Now</a>
                <a class="load-more-ic" href="#/paymentsuser/{{pdata.pid}}"><i class="fa fa-angle-right green-txt"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>



    </div>

  </div>
</div>
