

    <div class="wh-bg clearfix">

    <div class="superadmin-pages col-md-4 col-md-push-4 col-sm-10 col-sm-push-1 nopadding addnewpackagepage createchildadmin">

        <form name="createsuperadmin" ng-submit="sendsuperadmin(createsuperadmin)">
            <div class="form-group">
              <input type="text" class="form-control input-txt" required name="name" ng-model="form.name" placeholder="Name">
            </div>

            <div class="form-group">
              <input type="email" class="form-control input-txt" required name="email" ng-model="form.email" placeholder="Email">
            </div>

            <div class="form-group">
              <input type="text" class="form-control input-txt" required name="phone" ng-model="form.phone" placeholder="Phone">
            </div>

            <div class="form-group" style="text-align:center;">
              <label for="pwd">Password:</label>
              <p>Password created by system :<h3 style="border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1;">{{password}}</h3></p>
            </div>

            <div class="form-group">
              <label for="pwd">Roles To:</label>
              <br>
              <label style="width:100%;">
                  <input type="checkbox" name="vip" ng-model="form.vip"> Add&Manage VIP
              </label>
              <label style="width:100%;">
                  <input type="checkbox" name="emailsettings" ng-model="form.emailsettings"> Can Change Email Settings
              </label>
              <label style="width:100%;">
                  <input type="checkbox" name="refund" ng-model="form.refund"> Can Refund
              </label>
              <label style="width:100%;">
                  <input type="checkbox" name="siteinfo" ng-model="form.siteinfo"> Can change site info
              </label>

            </div>

            <div class="form-group">
              <label for="pwd">Built-in access To:</label>
              <br>
              <label ng-repeat="role in filterPackages" style="width:100%;">
                  <input type="checkbox" checklist-model="user.roles" checklist-value="role.id"> {{role.name}}
              </label>
            </div>

            <div class="form-group" style="text-align:center;">
              <button type="submit" class="btn btn-default2">Submit</button>
            </div>


          </form>
          </div>
    </div>
