
<div class="wh-bg clearfix">
    <div class="superadmin-pages col-md-4 col-md-push-4 col-sm-10 col-sm-push-1 col-xs-12 addnewpackagepage">
          <form name="createsuperadmin" ng-submit="sendsuperadmin(createsuperadmin)">
            <div class="form-group">
              <input type="text" class="form-control input-txt" name="name" ng-model="form.name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-txt" name="email" ng-model="form.email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-txt" name="tell" ng-model="form.tell" placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-txt" name="pwd" ng-model="form.pwd" placeholder="Password">
            </div>

            <div class="form-group" style="text-align:center;">
              <button type="submit" class="btn btn-default2">Submit</button>
            </div>
          </form>
        </div>
</div>