<div class="green-box manage-package">
	<h4 class="h4">Manage Packages</h4>
	<div class="inner">
		<div class="col-sm-6 col-md-4 nopadding mg-bottom">
			<input class="input-txt" type="text" name="search" ng-model="form.search" placeholder="Search">
		</div>
		<div class="responsive-table gr-table clear">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Start</th>
						<th>End</th>
						<th>Add</th>
						<th>Coupon</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="item in packagesList | filter:form.search | filter:select.filter">
					<td>{{$index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.description}}</td>
					<td>${{item.price}}</td>
					<td>{{item.start_date*1000 | date:'dd/MM/yyyy'}}</td>
					<td>{{item.end_date*1000 | date:'dd/MM/yyyy'}}</td>
					<td>{{item.add_date*1000 | date:'dd/MM/yyyy'}}</td>
					<td>{{item.coupon}}</td>
					<td>{{item.approved}}</td>
					<td>
						<a href="javascript:;" ng-show="item.approved == 1" ng-click="disableSystem(item.id)">
							<i class="fa fa-thumbs-down"></i>
						</a>
						<a href="javascript:;" ng-show="item.approved == 0" ng-click="enableSystem(item.id)">
							<i class="fa fa-thumbs-up"></i>
						</a>
						<a href="#/editpackage/{{item.id}}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

