<!-- This is popup message -->
<div class="col-xs-12 paymentsuser" ng-show="donePayment">
  <div class="row text-center">
    <h1 style="color:green">Congratulations: </h1>
    <h4>Your request has been processed and confirmed.</h4>
    <br><br>
    <h4>Invoice ID</h4>
    <h1 style="margin-top:-10px;">{{invoiceId}}</h1>
    <br>
    <h4>The invoice id was also emailed to you.</h4>
    <br><br>
    <button type="button" ng-click="cancel()" class="btn-default2 payment-btn" style="width: 200px;">back</button>
  </div>
</div>
<!-- End of popup message -->

<div class="user-pages">
    <div class="vip-package clearfix" ng-show="vipUserAccess">
        <div class="col-xs-1"></div>
        <div class="col-sm-8 col-lg-6 nopadding-left">
            <h1>VIP PACKAGE</h1>
            <a class="title" href="#">{{package.name}}</a>
            <div class="" style="margin: 20px 0 10px 0;">
                <input type="checkbox" name="terms" class="vertical-top" ng-model="form.terms">
                <span>I agree to the <a href="http://breakingmuscle.com/terms-of-use" target="_blank"><i>Terms and Conditions</i></a></span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 nopadding-left">
            <div class="button-container"><button type="button" class="btn-default2 payment-btn whiteButton"  ng-class="{'bluebtn' : !form.terms}" ng-disabled="!form.terms" ng-click="vipBuy()">join</button></div>
            <div class="button-container"><button type="button" class="btn-default2 payment-btn">cancel</button></div>
        </div>
    </div>
</div>


<div class="user-pages" ng-show="goPayment">
    <div class="paymentsuser clearfix">
        <form name="paymentsuser" class="col-xs-12" ng-submit="sendpaymentsuser(paymentsuser)">
      <div class="col-lg-8 left-clmn">


    <div class="col-xs-10">
      <h4><b>{{package.name}}</b> <span ng-show="package.description">({{package.description}})</span></h4>
    </div>
    <div class="col-xs-2 textright nopadding-left">
        <small class="blue-txt"></small><h4>${{package.price}}</h4>
    </div>

    <div class="row2" style="display:inline-block; width:100%;">

      <div class="clearfix" style="margin-top: 20px">
        <div class="col-xs-12 col-sm-5 col-lg-5">

            <select class="form-control select-card" name="prevCard" ng-model="form.prevCard" ng-change="oldCard(form.prevCard)" ng-disabled="zeroPrice">
                <option value="0">Select a card</option>
                <option ng-repeat="card in userCards" value="{{card.id}}">{{card.brand}} : {{card.last4}}</option>
            </select>

        </div>

        <div class="col-xs-12 col-sm-1 col-lg-2 blue-txt text-center" style="display:inline-block;margin:5px 0"> or</div>

        <div class="col-xs-12 col-sm-6 col-lg-5">
            <button type="button" class="btn-default2 payment-btn" style="margin-top:0;" ng-click="addNewCard()" ng-disabled="zeroPrice">Add New</button>
      </div>

      <div class="col-xs-12  pull-right clearfix invert-select-color" ng-show="prevCardShow">

        <input type="text" class="form-control txt-input pull-right" name="cardno" ng-model="form.cardno" placeholder="Card Number">

        <div class="col-xs-4  nopadding" style="padding-right: 2px;">
          <select class="form-control small" name="exmonth" ng-model="form.exmonth">
            <option value="0">MM</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>
        <div class="col-xs-4 nopadding" style="padding-right: 2px;">
          <select class="form-control small" name="exyear" ng-model="form.exyear">
            <option value="0">YY</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
            <option value="2035">2035</option>
            <option value="2036">2036</option>
            <option value="2037">2037</option>
            <option value="2038">2038</option>
            <option value="2039">2039</option>
            <option value="2040">2040</option>
            <option value="2041">2041</option>
            <option value="2042">2042</option>
            <option value="2043">2043</option>
            <option value="2044">2044</option>
            <option value="2045">2045</option>
            <option value="2046">2046</option>
            <option value="2047">2047</option>
            <option value="2048">2048</option>
            <option value="2049">2049</option>
            <option value="2050">2050</option>
          </select>
        </div>
        <div class="col-xs-4 nopadding">
            <div class="col-xs-9 col-sm-10 nopadding"><input type="text" placeholder="CVV" name="cvc" ng-model="form.cvc" class="form-control"></div>
            <div class="col-sm-2 col-xs-3  nopadding text-right" style="height: 34px;line-height: 33px;" ng-click="openCvv()"><i class="fa fa-question-circle"></i></div>
        </div>


        <div class="col-xs-12 nopadding textcenter" style="display:inline-block; margin:15px 0;">
          <input type="checkbox" name="saveC" class="vertical-top" ng-model="form.saveC">
          <span>Save Credit Card</span>
        </div>        
      </div>

      <div class="col-xs-12 nopadding" style="margin-bottom: 30px; margin-top:30px;">
        <div ng-show="package.coupon == 1">
          <div class="col-xs-9 col-sm-10 nopadding-right">
            <input type="text" class="form-control coupon-txt" name="couponTag" ng-model="form.couponTag" ng-disabled="couponActive" placeholder="Coupon">
          </div>
          <div class="col-xs-3 col-sm-2 nopadding-left">
            <button type="button" ng-click="addCoupon(form.couponTag)" class="btn-default2 apply-btn" ng-disabled="couponActive">Apply</button>
          </div>
          <br><br>
          <h5 style="width:100%;text-align: center;color: #02AAC3;" ng-show="zeroPrice">No need for credit card</h5>
        </div>
      </div>
    </div>
      <div class="col-xs-12 nopadding" style="margin-top: 20px;" ng-show="package.coupon == 1">
        <div class="col-xs-10">
          <h4 class="discount-box" style="border:0;">Discount</h4>
        </div>
        <div class="col-xs-2 textright">
          <h4 class="discount-lbl">{{discount}}</h4>
        </div>    
      </div>



      <div class="col-xs-12  nopadding">
        <div class="col-xs-9 col-sm-10">
          <h4>TOTAL AMOUNT</h4>
        </div>
        <div class="col-xs-3 col-sm-2 textright nopadding-left">
            <small class="blue-txt"></small><h4>${{totalAmount}}</h4>
        </div>    
      </div>
    </div>

      </div>
      <div class="col-lg-4 right-clmn">
          <div class="col-xs-12 nopadding textcenter" style="display:inline-block; margin: 10px 0;">
              <input type="checkbox" name="terms" class="vertical-top" ng-model="form.terms">
              <span>I agree to the <a href="http://breakingmuscle.com/terms-of-use" target="_blank"> Terms and Conditions</a></span>
          </div>

          <div class="col-xs-12">
              <button type="submit" ng-disabled="!form.terms" class="blueButton btn-default2 payment-btn" ng-class="{'whiteButton' : !form.terms}">buy</button>
              <button type="button" ng-click="cancel()" class="btn-default2 payment-btn">Browse</button>
          </div>
      </div>

  </form>
    </div>
</div>


<div class="right-side-text" ng-show="sidebarShowPayment">
    <div class="right-side-inner">
        <h1>Thanks for Making a Purchase</h1>
        <p>You are just one step away from starting your plan.</p>
    </div>
    <div class="right-side-inner package-list">
        <h1>Packages</h1>
        <ul>
            <li ng-repeat="item in filterPackages">
                <a title="{{item.name}}" href="#/paymentsuser/{{item.id}}">{{item.name}} (${{item.price}})</a>
                <a class="moreinfobutton" href="{{item.url}}" target="_blank">(More Info)</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/ng-template" id="cvv.html">
    <div class="modal-header">
        <h3 class="modal-title">What`s CVV ?</h3>
    </div>
    <div class="modal-body">
        <p>The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA®, MasterCard® and Discover® branded credit and debit cards. 
        </p>
        <p>On your American Express® branded credit or debit card it is a 4 digit numeric code.<br>
          The CVV Number on your credit card or debit card is a 3 digit number on VISA®, MasterCard® and Discover® branded credit and debit cards. On your American Express® branded credit or debit card it is a 4 digit numeric code.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>