<h4 class="edit-visitor" >Edit Visitor</h4>

<div class="wh-bg clearfix">
    <div class="col-md-4 col-md-push-4 col-sm-10 col-sm-push-1   addnewpackagepage createchildadmin">
      <form name="createsuperadmin" ng-submit="sendsuperadmin(createsuperadmin)">
        <div class="form-group">
          <input type="text" class="form-control input-txt" name="name" ng-model="form.name" placeholder="Name">
        </div>

        <div class="form-group">
          <input type="email" class="form-control input-txt" name="email" ng-model="form.email" placeholder="Email">
        </div>

        <div class="form-group">
          <input type="text" class="form-control input-txt" name="phone" ng-model="form.phone" placeholder="Phone">
        </div>

        <div class="form-group">
          <input type="text" class="form-control input-txt" name="pourcentage" ng-model="form.pourcentage" placeholder="% Of Comession">
        </div>

        <div class="form-group" style="text-align:center;">
          <button type="submit" class="btn btn-default2">Save</button>
        </div>


      </form>

    </div>
</div>