
<div class="user-pages pack wh-bg" ng-class="{'full-width' : fullWidth}">
    <div class="banner clearfix" ng-style="{'background-color': packageData.bgcolor}">
        <div class="banner-inner">
            <div class="col-md-6 col-md-push-6 nopadding img-wrapper">
                <img class="img-responsive" ng-src="http://res.cloudinary.com/velummedia/image/upload/members_{{packageData._id}}_topCover" alt="Banner">
            </div>

            <div class="col-md-6 left-box col-md-pull-6" ng-style="{'color': packageData.fontcolor}">
                <h3 class="h2">{{packageData.title}}</h3>
                <p ng-bind-html="packageData.desc"></p>
            </div>
        </div>
    </div>

    <div class="clearfix row">

        <div class="col-sm-8 col-lg-9 text-center">
            <h2 class="h1 text-center green-txt">Welcome</h2>
            <p class="text-center welcome-txt" ng-bind-html="packageData.welcometext">

            </p>
            <a href="{{packageData.welcomemore}}" target="_blank" ng-show="packageData.welcomemore" class="h3">Read More</a>

            <div class="link-bar">
                <div class="h3">
                    <a href="#/paymentsuser/{{packageData._id}}">{{packageData.button1text}}</a>
                    <a class="load-more-ic" href="#/paymentsuser/{{packageData._id}}"><i class="fa fa-angle-right green-txt"></i></a>
                </div>
            </div>

            <div class="intro-banner">
                <img src="http://res.cloudinary.com/velummedia/image/upload/members_{{packageData._id}}_secondBanner" alt="Banner">
            </div>

            <div class="frq-section">
                <h3 class="h1 text-center bold green-txt" ng-show="packageData.faq">Frequently Asked Questions</h3>
                <div class="grid-gallery">
                    <section class="grid-wrap">
                        <ul class="clearfix flowGrid" id="demogrid">
                            <li class="flowGridItem" ng-repeat="item in packageData.faq">
                                <h3 class="h4">{{item.title}}</h3>
                                <p>{{item.text}}</p>
                            </li>
                        </ul>
                    </section>
                </div><!-- / grid-gallery -->
                <a href="{{packageData.faq_more}}" target="_blank" ng-show="packageData.faq_more" class="h3">Read More</a>
            </div>

            <div class="link-bar">
                <div class="h3">
                    <a href="#/paymentsuser/{{packageData.pid}}">I want to start my training!</a>
                    <a class="load-more-ic" href="#/paymentsuser/{{packageData.pid}}"><i class="fa fa-angle-right green-txt"></i></a>
                </div>
            </div>



        </div>

        <div class="col-sm-4 col-lg-3 right-side">
            <!--<div class="info">-->
                <!--<img src="{{packageData.side_cover}}" alt="Photo">-->
            <!--</div>-->
            <div class="about-couch">
                <img src="http://res.cloudinary.com/velummedia/image/upload/members_{{packageData._id}}_coachAvatar" alt="Coach Pic">
                <h3 class="text-center">Meet your coach</h3>
                <h3 class="text-center">{{packageData.coach.name}}</h3>
                <p ng-bind-html="packageData.coach.bio">

                </p>
            </div>

        </div>
    </div>

    <div class="clearfix row pack-btm">
        <div class="col-sm-8 col-lg-9 text-center btm">
            <div class="more-dt">
                <h4 class="h1 bold text-center green-txt">More Information</h4>
                <br>
                <ul class="row clearfix">

                    <li class="col-xs-4" ng-repeat="it in packageData.moreinfo">
                        <a class="more-img" href="{{it.link}}" target="_blank">
                            <img class="img-responsive" src="http://res.cloudinary.com/velummedia/image/upload/members_{{packageData._id}}_moreinfo_{{$index}}" alt="">
                        </a>
                        <h2 class="h4 text-center">
                            <a href="{{it.link}}" target="_blank">{{it.title}}</a>
                        </h2>
                        <p class="limit-txt-2">{{it.text}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 right-side btm">
            <div class="link-bar">
                <div class="h3">
                    <div class="price">${{packageData.price}}</div>
                    <a href="#/paymentsuser/{{packageData.pid}}">Buy Now</a>
                    <a class="load-more-ic" href="#/paymentsuser/{{packageData.pid}}"><i class="fa fa-angle-right green-txt"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="right-side-text" ng-show="showRightSidebar">
    <div class="green-box">
        <h4 class="h4">Choose a Plan</h4>
        <div class="inner">
            <p>Pick from of any of the plans available for purchase now or pre-register for upcoming plans and get big savings.</p>
        </div>
    </div>

    <div class="green-box package-list">
        <h4 class="h4">Packages</h4>
        <div class="inner">
            <ul>
                <li ng-repeat="item in filterPackages">
                    <a title="{{item.name}}" href="#/paymentsuser/{{item.id}}">{{item.name}} (${{item.price}})</a>
                    <a class="moreinfobutton" href="{{item.url}}" target="_blank">(More Info)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
