<div class="user-pages pack wh-bg">
    <div class="banner clearfix">
        <div class="col-lg-6 col-lg-push-6 nopadding">
            <img class="img-responsive" src="{{pdata.cover}}" alt="Banner">
        </div>
        <div class="col-lg-6 left-box col-lg-pull-6 ">
            <p ng-bind-html="pdata.description"></p>
        </div>

    </div>

    <div class="clearfix row">

        <div class="col-sm-8 col-lg-9">
            <h2 class="h1 text-center" style="color: #06bf84">Welcome</h2>
            <p class="text-center welcome-txt" ng-bind-html="pdata.welcome_text">

            </p>


            <div class="link-bar" style="background-color: #06bf84">
                <div class="h3">
                    <a href="#">Start your training today!</a>
                    <a class="load-more-ic" href="#"><i class="fa fa-angle-right" style="color: #06bf84"></i></a>
                </div>
            </div>

            <div class="intro-banner">
                <img src="{{pdata.cover2}}" alt="Banner">
            </div>

            <div class="frq-section">
                <h3 class="h1 text-center bold" style="color: #06bf84">Frequently Asked Questions</h3>
                <div class="grid-gallery">

                    <section class="grid-wrap">
                        <ul class="grid clearfix flowGrid" ng-flow-grid="homePageGrid" min-item-width="270">
                            <li class="flowGridItem" ng-repeat="item in pdata.faq">
                                <figure>
                                    <figcaption>
                                        <h3 class="h4">{{item.title}}</h3>
                                        <p>
                                            {{item.text}}
                                        </p>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </section>
                </div><!-- / grid-gallery -->
            </div>

            <div class="link-bar" style="background-color: #06bf84">
                <div class="h3">
                    <a href="#">I want to start my training!</a>
                    <a class="load-more-ic" href="#"><i class="fa fa-angle-right" style="color: #06bf84"></i></a>
                </div>
            </div>

            <div class="more-dt">
                <h4 class="h1 bold text-center" style="color: #06bf84">More</h4>
                <ul class="row clearfix">

                    <li class="col-xs-4" ng-repeat="it in pdata.moreinfo">
                        <a href="{{it.link}}" target=“_blank">
                            <img class="img-responsive" src="{{it.cover}}" alt="">
                        </a>
                        <h2 class="h4 text-center">
                            <a href="{{it.link}}" target=“_blank">{{it.title}}</a>
                        </h2>
                        <p class="limit-txt-2">{{it.text}}</p>
                    </li>

                </ul>
            </div>

        </div>

        <div class="col-sm-4 col-lg-3 right-side">
            <!--<div class="info">-->
                <!--<img src="{{pdata.side_cover}}" alt="Photo">-->
            <!--</div>-->
            <div class="about-couch">
                <img src="{{pdata.about_coach.avatar}}" alt="Coach Pic">
                <p ng-bind-html="pdata.about_coach.bio">

                </p>
                <p class="bottom-txt" ng-bind-html="pdata.about_coach.bio2">
                </p>
            </div>
            <div class="link-bar" style="background-color: #06bf84">
                <div class="h3">
                    <div class="price">$972</div>
                    <a href="#">Buy Now</a>
                    <a class="load-more-ic" href="#"><i class="fa fa-angle-right" style="color: #06bf84"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="right-side-text">
    <div class="right-side-inner">
        <h1>Choose a Plan</h1>
        <p>Pick from of any of the plans available for purchase now or pre-register for upcoming plans and get big savings.</p>
    </div>


    <div class="right-side-inner package-list">
        <h1>Packages</h1>
        <ul>
            <li ng-repeat="item in filterPackages">
                <a title="{{item.name}}" href="#/paymentsuser/{{item.id}}">{{item.name}} (${{item.price}})</a>
                <a class="moreinfobutton" href="{{item.url}}" target="_blank">(More Info)</a>
            </li>
        </ul>
    </div>
</div>
