<div class="col-sm-4 col-sm-push-4 loginpage">

  <div class="col-sm-12 formwrap nopadding">


    <form name="loginForm" ng-submit="login(loginForm)" ng-hide="hideLoginSection">

        <h4 class="col-xs-12 login-title">Reset Password</h4>

      
        <input type="password" class="loginpageinput" name="password" ng-model="form.password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <input type="password" class="loginpageinput" name="repassword" ng-model="form.repassword" placeholder="Type Again" required>
        <small style="color: #fff;">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>

        <button type="submit" class="registerbutton">Reset</button>

    </form>

    <div class="col-lg-12 guidtext nopadding">
      <p>
      New password will be effective immediately and after changing you will be prompted to login again.
      </p>
    </div>
  </div>
</div>