<div class="col-md-8 col-md-push-2 col-sm-5 col-sm-push-4 col-xs-8 col-xs-push-4 addnewpackagepage">
	<form name="emailFrom" ng-submit="formSent(emailFrom)">
		<div class="form-group">
			<input type="text" class="form-control" name="subject" ng-model="form.subject" placeholder="Subject">
		</div>
		<div text-angular name="message" ng-model="form.message"></div>

		<div class="col-xs-12" style="text-align:center; margin-top:10px;">
			<button type="submit" class="btn btn-default noradius">SEND</button>
		</div>
	</form>
</div>