<div class="user-pages superadmin-pages manageadminswrap">
	<tabset justified="true">
		<tab heading="General">
			<h4>General options :</h4>
			<form name="globalSettings" ng-submit="saveGlobal(globalSettings)">
			    <div class="form-group">
					<label>Site Name : </label>
			    	<input type="text" class="form-control input-txt" required name="sitename" ng-model="global.sitename">
			    </div>
			    <div class="form-group">
					<label>
					Site Url : 
					<br>
					<small>Note: Make sure you add http:// at first</small>
					</label>
			    	<input type="text" class="form-control input-txt" required name="siteurl" ng-model="global.siteurl">
			    </div>
			    <div class="form-group">
					<label>
					Site Short Description : 
					<br>
					<small>Note: 100 characters max</small>
					</label>
			    	<input type="text" class="form-control input-txt" maxlength="100" required name="description" ng-model="global.description">
			    </div>
			    <div class="col-xs-12" style="text-align:center; margin-top:10px;">
					<button type="submit" class="btn btn-default2 noradius">Save Settings</button>
				</div>
			</form>
		</tab>
		<tab heading="Admin">
			<h4>Admin options :</h4>
			<form name="adminSettings" ng-submit="saveAdmin(adminSettings)">
			    <div class="form-group">
					<label>Admin email address : </label>
			    	<input type="text" class="form-control" required name="admin_email" ng-model="admin.admin_email">
			    </div>
			    <div class="form-group">
					<label>
					Support Email : 
					<br>
					<small>Note: The email all the help and contacts emails will email to.</small>
					</label>
			    	<input type="text" class="form-control" required name="support_email" ng-model="admin.support_email">
			    </div>
			    <div class="col-xs-12" style="text-align:center; margin-top:10px;">
					<button type="submit" class="btn btn-default2 noradius">Save Settings</button>
				</div>
			</form>
		</tab>
		
	</tabset>
</div>


<div class="right-side-text">
    <div class="right-side-inner">
        <h1>Lorem ipsum.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolorem sint adipisci, commodi enim animi minus debitis, aliquid aspernatur ex soluta maxime sunt, quibusdam. Consequatur officia veniam quam deleniti perspiciatis?</p>
    </div>
</div>