<div class="col-sm-4 col-sm-push-4 loginpage">

	<div class="col-sm-12 formwrap nopadding">

	  <form name="loginForm" ng-submit="login(loginForm)" ng-hide="hideLoginSection">

	      <h4 class="col-xs-12 login-title">Visitor Login</h4>

	      <input type="email" class="loginpageinput" name="email" ng-model="form.email" required placeholder="Email">

	      <input type="password" class="loginpageinput" name="password" ng-model="form.password" required placeholder="Password">

	      <button type="submit">Login</button>

	  </form>
	  
	</div>
</div>